body, a {
  background-color: #404040;
  color: #eee;
  font-family: 'FreeUniversal', sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
  min-height: 800px;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h2 {
  font-size: 2em;
  padding-bottom: 0.5em;
}
footer {
	width: 1024px;
	position: absolute;
	top: 710px;
}
#country {
	position: relative;
	bottom: 10px;
}
.country {
	stroke: #777;
	stroke-width: 1px;
	stroke-dasharray: 2,2;
	stroke-linejoin: round;
}
button {
	padding: 10px;
	margin: 0px 10px 5px;
	background-color: #730100;
	border: none;
	color: white;
	font-size: 1.4em;
	box-shadow: 5px 5px 5px #111;
}
#takeSurvey {
	position: relative;
	top: -40px;
}
#edsa-bit {
	position: absolute;
	left: 830px;
	top: 0px;
}
#edsa-logo {
	height: 64px;
}
#edsa-title {
	padding: 0px;
	margin: 0px;
	display: inline-block;
	font-size: 0.9em;
	line-height: 1.3em;
	position: relative;
	top: -6px;
}
#credit {
	font-size: 10px;
	display: inline;
	position: absolute;
	right: 90px;
	line-height: 1.4em;
	text-align: right;
	padding-top: 0.5em;
}
#odi-logo {
	position: absolute;
	right: 20px;
	top: 4px;
	height: 26px;
}
#credit a {
	color: #eee;
	text-decoration: underline;
}
#map {
	position: absolute;
	left: 480px;
	display: inline;
	top: 70px;
}
#radar {
	position: relative;
	left: 0px;
	width: 50%;
	display: inline;
	bottom: 60px;
}
#legend {
	position: absolute;
	display: inline;
	padding-top: 2em;
	left: 370px;
	top: 70px;
}
#help {
	display: inline;
}
.textNode {
	color: #730100;
	text-align: center;
	font-size: 1.2em;
}
.title {
	color: #fff;
	padding: 3px 10px;
	display: inline-block;
	position: relative;
	background-color: #730100;
}
.title_xl {
	padding: 15px 15px;
	font-size: 40px;
	margin: 0px;
}
#miniHelp {
        top: 25%;
        left: 50%;
	margin-left: -400px;
	margin-top: -100px;
	width: 800px;
        height: 400px;
        overflow-y: auto;
}
#miniHelp, #surveyBox {
        position: absolute;
        background-color: #d2d8ee;
        border-radius: 10px;
        border: 1px solid #ddd;
        display: none;
        overflow-x: hidden;
}
#surveyBox {
        top: 0px;
        left: 0px;
        width: 98%;
        height: 680px;
        overflow-y: auto;
	margin: 1em;
}
#closeSurvey, #closeHelp {
	float: right;
	padding: 2px;
}
#code {
	display: inline;
}
#skillsTitle {
	position: absolute;
	top: 480px;
}
#skillsChart {
	position: absolute;
	top: 510px;
	width: 1024px;
	text-align: center;
}
#noSkillData {
	padding-top: 1em;
	font-size: 1.4em;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis text {
  font-size: 10px;
}
.skill text {
  text-anchor: end;
  font-size: 10px;
}
.skills li {
	list-style-type: none;
	display: inline-block;
	background: white;
	color: #730100;
	border: 1px solid #730100;
	border-radius: 10px;
	padding: 10px 20px;
	margin: 20px;

}
#shareThis {
	display: inline-block;
	position: relative;
	bottom: 10px;
	left: 8px;	
}
