body {
  background-color: #404040;
  color: #eee;
  font-family: 'FreeUniversal', sans-serif;
  font-weight: normal;
  font-style: normal;
  line-height: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

h2 {
  font-size: 2em;
  padding-bottom: 0.5em;
}
footer {
	width: 1024px;
	position: absolute;
	top: 700px;
}
#edsa-bit {
	position: absolute;
	left: 870px;
	top: 0px;
}
#edsa-logo {
	height: 64px;
}
#edsa-title {
	padding: 0px;
	margin: 0px;
	display: inline-block;
	font-size: 0.9em;
	line-height: 1.3em;
	position: relative;
	top: -6px;
}
#credit {
	font-size: 10px;
	display: inline;
	position: absolute;
	right: 90px;
	line-height: 1.4em;
	text-align: right;
	padding-top: 0.5em;
}
#odi-logo {
	position: absolute;
	right: 20px;
	top: 4px;
	height: 26px;
}
#credit a {
	color: #eee;
	text-decoration: underline;
}
#map {
	position: absolute;
	left: 480px;
	display: inline;
	top: 70px;
}
#radar {
	position: relative;
	left: 0px;
	width: 50%;
	display: inline;
}
#legend {
	position: absolute;
	display: inline;
	padding-top: 2em;
	left: 370px;
	top: 70px;
}
#help {
	display: inline;
}
#code {
	display: inline;
}
#skillsTitle {
	position: absolute;
	top: 470px;
}
#skillsChart {
	position: absolute;
	top: 500px;
	width: 1024px;
	text-align: center;
}
#noSkillData {
	padding-top: 1em;
	font-size: 1.4em;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
.axis text {
  font-size: 10px;
}
.skill text {
  text-anchor: end;
  font-size: 10px;
}
