body {
	margin: 20px;
	width: 1150px;
}
heading {
	font-size: 20px;
}
#sector-role {
	position: absolute;
	left: 750px;
	top: 60px;
	width: 240px;
    text-align: center;
}
#role-heading {
	position: absolute;
	left: 940px;
	top: 245px;
	width: 240px;
	text-align: center;
	font-size: 1.4em;
}
#wordle {
	position: inline-block;
	width: 530px;
}
.multiBar heading {
	display: block;
	width: 100%;
	text-align: center;
}
#sector-chart .x.axis text {
 	   text-anchor: end !important;
	   transform: rotate(-45deg);
}
#involvement-chart {
	position: absolute;
	left: 980px;
	top: 80px;
}
.multiBar {
	width: 644px;
	display: inline-block;
	padding-left: 2px;
}
.multiBar svg {
	position: relative;
	top: -40px;
}
#skills title {
	width: 80px;
}
#training title {
	width: 64px;
}
title {
	font-size: 10px;
	color: black;
	display: inherit;
	height: 40px;
	text-align: center;
	position: relative;
	top: 185px;
}
#require_section {
	display: inline-block;
	width: 644px;
/*	border-radius: 10px 0px 10px 10px;*/
	background-color: #e6e6e6;
}
.legend {
	display: inline-block;
	width: 240px;
	height: 147px;
	padding: 10px;
}
#key_essential {
/*	border-radius: 0px 10px 10px 0px;*/
	left: -5px;
	position: relative;
    	height: 140px;
	background-color: #e6e6e6;
}
.essential {
	background: #3182bd;
}
.desirable {
	background: #6baed6;
}
.not_required {
	background: #9ecae1;
}
.key_item {
	margin-left: 20px;
	margin: 10px;
}
.box {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 10px;
}
.skill0 {
	background: #deeeff;
}
.skill1 {
	background: #cce5ff;
}
.skill2 {
	background: #93cae1;
}
.skill3 {
	background: #6baed6;
}
.skill4 {
	background: #3182bd;
}
.box2 {
	display: inline-block;
	width: 31px;
	height: 20px;
}
.capability_legend {
	margin-top: 25px;
	text-align: center;
}
#expert {
	float: right;
}
#key_capability {
/*	border-radius: 10px 10px 0px 0px;*/
    	height: 140px;
	margin-top: 5px;
	position: relative;
	float: right;
	background-color: #e6e6e6;
}
#sidebar {
	display: inline-block;
	width: 500px;
	vertical-align: top;
}
#capability {
	display: inline-block;
	width: 500px;
	vertical-align: top;
/*	border-radius: 10px 0px 10px 10px;*/
	background-color: #e6e6e6;
}
#capability title {
	top: 130px;
	width: 120px;
}
footer div {
	display: inline-block;
	font-size: 0.8em;
}
#credit {
	position: relative;
	top: 10px;
}
#odi-logo {
	float: right;
	position: relative;
	top: 5px;
	right: 10px;
}
#help {
	cursor: pointer;
}
#helpBox {
        position: absolute;
        top: 30px;
        left: 20px;
        width: 1100px;
        height: 700px;
        background-color: #ccc;
/*        border-radius: 10px;*/
        border: 1px solid #ddd;
        margin: 1em;
        overflow-x: none;
        overflow-y: auto;
}
#closeHelp {
        position: absolute;
        right: 20px;
        top: 8px;
}
#surveyTitle {
	color: white;
	background-color: #730100;
	padding: 10px;
	margin-top: -10px;
/*	border-radius: 10px;*/
}
#instruction {
	font-weight: bold;
	font-size: 1.5em;
	position: relative;
	z-index: -1000;
}
/*.up_ins {
	margin-bottom: -20px;
	bottom: 30px;
}
.down_ins {
	margin-top: -30px;
}
.down {
	position: relative;
	top: 16px;
}
*/
arrow {
	color: #730100;
	font-size: 2em;
	display: none;
}
/*
#skills .dc-chart {
	font-size: 0;
}
#skills .dc-chart text {
   display: none;
}
*/
