html {
	background-color: #d2d8e0; 
}

html, body {
	margin: 0;
	padding: 0;
	position: relative;
	color: #d2d8ee;
	min-height: 100%;
	font-size: 17px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
.clickExplore {
	font-size: 17px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	color: #730100;
}

hr {
	border: 1px dashed #730100;
}

h1 {
	color: #FF3F00;
	font-size: 20px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-align: center;
}

progress {

    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    position: relative;
    left: 780px;
    top: 30px;

}

/* IE10 */
progress {
    color: #730100;
}

/* Firefox */
progress::-moz-progress-bar { 
    background: #730100;  
}

/* Chrome */
progress::-webkit-progress-value {
    background: #730100;
}

button {
	width: 150px;
	padding: 10px;
	margin: 10px;
	background-color: #730100;
	border: none;
	color: white;
	font-size: 17px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}
.helpIcon {
	background-color: #730100;
	border-radius: 30px;
	width: 20px;
	display: inline-block;
	text-decoration: none;
	color: white;
}
.navbutton { 
	width: 50px;
	height: 60px;
	display: block;
	position: absolute;
	cursor: pointer;
	top: 200px;
	z-index: 20;
}
#next {
	right: 20px;
}
#prev {
	left: 20px;
}

.invisibleList {
	list-style-type: none;
	overflow: auto;
}
.invisibleList li {
	width: 100%;
	height: 600px;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.container {
	width: 1000px;
	margin: auto;
	min-width: 1000px;
	max-width: 1200px;
	position: relative;
}
.wrapper {
	text-align: center;
}

@media (min-width: 750px) and (max-width: 970px){
	.container {
		width: 100%;
		min-width: 750px;
	}
}


.sortable-ghost {
	opacity: .2;
}


img {
	border: 0;
	vertical-align: middle;
}


.logo {
	top: 55px;
	left: 30px;
	position: absolute;
}


.title {
	color: #fff;
	padding: 3px 10px;
	display: inline-block;
	position: relative;
	background-color: #730100;
	z-index: 1000;
}
	.title_xl {
		padding: 3px 15px;
		font-size: 40px;
	}

a {
	color: #730100;
}
 
.tile {
	width: 22%;
	min-width: 210px;
	color: #730100;
	padding: 10px 20px;
	text-align: center;
	margin-top: 15px;
	margin-left: 5px;
	margin-right: 10px;
	background-color: #fff;
	display: inline-block;
	vertical-align: top;
}
	.tile__name {
		cursor: move;
		padding-bottom: 10px;
		border-bottom: 1px solid #730100;
	}

	.tile__list {
		min-height: 40px;
		margin-top: 10px;
	}
		.tile__list:last-child {
			margin-right: 0;
			min-height: 80px;
		}

		.tile__list div {
			cursor: move;
			padding: 10px;
			border: 1px solid #730100;
			border-radius: 5px;
			margin: 10px;
		}
		.list2 div {
			width: 22%;
			display: inline-block;
		}
		.list2 .selected {
			color: white;
			background-color: #730100;
		}

#exp_manager{
	position: relative;
	left: -100px;
}
#exp_everyday {
	position: relative;
	left: 130px;
}

.block {
	opacity: 1;
	position: absolute;
}
	.block__list {
		padding: 20px 0;
		max-width: 360px;
		margin-top: -8px;
		margin-left: 5px;
		background-color: #fff;
	}
		.block__list-title {
			margin: -20px 0 0;
			padding: 10px;
			text-align: center;
			background: #5F9EDF;
		}
		.block__list li { cursor: move; }

	.block__list_words li {
		background-color: #fff;
		padding: 10px 40px;
	}
		.block__list_words .sortable-ghost {
			opacity: 0.4;
			background-color: #F4E2C9;
		}

		.block__list_words li:first-letter {
			text-transform: uppercase;
		}

	.block__list_tags {
		padding-left: 30px;
	}

	.block__list_tags:after {
		clear: both;
		content: '';
		display: block;
	}
		.block__list_tags li {
			color: #fff;
			float: left;
			margin: 8px 20px 10px 0;
			padding: 5px 10px;
			min-width: 10px;
			background-color: #5F9EDF;
			text-align: center;
		}
			.block__list_tags li:first-child:first-letter {
				text-transform: uppercase;
			}



#editable {}
	#editable li {
		position: relative;
	}

	#editable i {
		-webkit-transition: opacity .2s;
		transition: opacity .2s;
		opacity: 0;
		display: block;
		cursor: pointer;
		color: #c00;
		top: 10px;
		right: 40px;
		position: absolute;
		font-style: normal;
	}

	#editable li:hover i {
		opacity: 1;
	}


#filter {}
	#filter button {
		color: #fff;
		width: 100%;
		border: none;
		outline: 0;
		opacity: .5;
		margin: 10px 0 0;
		transition: opacity .1s ease;
		cursor: pointer;
		background: #5F9EDF;
		padding: 10px 0;
		font-size: 17px;
	}
		#filter button:hover {
			opacity: 1;
		}

	#filter .block__list {
		padding-bottom: 0;
	}

.drag-handle {
	margin-right: 10px;
	font: bold 20px Sans-Serif;
	color: #5F9EDF;
	display: inline-block;
	cursor: move;
	cursor: -webkit-grabbing;  /* overrides 'move' */
}

#todos input {
	padding: 5px;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}



#nested ul li {
	background-color: rgba(0,0,0,.05);
}
#capcap::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
}
#capcap::-webkit-scrollbar-track {
    background-color: rgba(255,255,255,0);
    border-radius: 8px;
}
#capcap::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: rgba(57, 57, 57, .6);
}
.caplabel {
	position: relative;
	display: inline-block;
	min-width: 100px;
}
.capcaptable {
	border-bottom: 1px dashed #730100;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-bottom: 10px;
}
#miniHelp {
        top: 15%;
        left: 50%;
	margin-left: -400px;
	margin-top: -100px;
	width: 800px;
        height: 400px;
        overflow-y: auto;
        position: absolute;
        background-color: #d2d8ee;
        border-radius: 10px;
        border: 1px solid #730100;
        display: none;
        overflow-x: hidden;
}
#closeSurvey, #closeHelp {
	float: right;
	padding: 2px;
}
#countryName {
	display: none;
}
#map {
	display: inline-block;
	right: 0px;
	position: relative;
	left: 10%;
}
#mapCName {
	position: absolute;
}
.country {
	fill: #ffffff;
}
.selected {
	fill: #730100;
}
#venn {
	display: inline-block;
	width: 310px;
	margin-left: -70px;
	vertical-align: top;
}
.venn_text_small {
	font-size: 14px;
}
.venn_text_ds {
	font-weight: bold;
	font-size: 14px;
}
#intro {
	display: inline-block;
	width: 450px;
	padding-left: 45px;
	font-weight: bold;
}
#intro item {
	border: 1px dashed #730100;
	display: block;
	border-radius: 5px;
	margin: 20px;
	padding: 10px;
}
nli {
	display: list-item;
	text-align: left;
	padding: 2px 0px;
}
#toolsListeg {
	display: inline-block;
	height: 80px;
}
#tool {
	font-size: 2em;
	width: 300px;
}
#toolsList {
	padding: 20px;
}
#toolsListeg tli {
	text-align: left;
	text-decoration: underline;
	padding: 10px;
	cursor: pointer;
}
#toolsList tli {
	display: list-item;
	list-style-type: circle;
	text-align: left;
	padding: 2px 0px;
}
#toolsList tli remove{
	text-decoration: underline;
	cursor: pointer;
}

#comments {
	display: block;
	width: 80%;
	height: 200px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}
