#google_translate_element {
	float: right;
}
.goog-te-gadget-simple {
	background-color: transparent;
}
.goog-te-gadget {
	color: #730100;
}
.goog-te-gadget-simple .goog-te-menu-value {
	color: #730100;
}
